
.container { 
    position: relative;
    width: 1200px;
    border: 5px dashed orange;
    margin: auto;
}

section {
    margin-top: 20px;        /* mt20 */
    margin-right: 40px;      /* mt40 */
    margin-bottom: 40px;     /* mt80 */
    margin-left: 160px;      /* mt160 */
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 3px solid gray;
}